@import '~bootstrap/scss/bootstrap';

html {
  background-color: 'black';
}

body {
  background-color: 'black';
}

.dropdown-item {
  margin: 0;
  padding: 0 4px 4px;

  &:hover {
    cursor: pointer;
    color: white;
    background-color: #333;
  }
}

.carousel-item {
  max-height: 100vh;
  width: 100vw;
}

.weather-chart {
  background: linear-gradient(#F00,#0F0, #00F);
  border-radius: 0.5rem;
  opacity: 0.8;
}

.z {
  z-index: 10;
}